.Bistro-img1{
    background-image:url("../../assets/dashboard/chef-service2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Slick arrows color*/
.slick-prev:before,
.slick-next:before {
  color: #007AFF !important;
  font-size: 30px !important;
}